<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Agenda de Contatos</h1>
    <form action="/create" method="POST">
        <input type="text" name="name" placeholder="Nome">
        <input type="text" name="email" placeholder="E-mail">
        <input type="text" name="phone" placeholder="Telefone">
        <button type="submit">
            Adicionar
        </button>
    </form>
    <ul>
        {% for contact in contacts %}
            <li>
                {{ contact['name'] }}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>